// Banner
// ======

[role="banner"] {
  @include adjust-font-size-to($xxlargepx);
  @include padding-leader(.5);
  white-space: nowrap;
  text-transform: lowercase;
  text-align: center;

  a {
    #{$link} { color: $base; }
    #{$focus} { color: $red; }
  }

  @include breakpoint($container-width) {
    @include span(3);
    text-align: left;
  }
}
