// Content Info
// ============

[role="contentinfo"] {
  @include sans;
  @include adjust-font-size-to($xsmallpx);
  padding-bottom: rhythm(1);
  clear: both;
  text-transform: uppercase;
  text-align: center;
}

.copyright {
  .fn { font-weight: bold; }
}

// Social
// ------

.social {
  @include trailer;

  ul {
    @include inline-block-list;
    overflow: visible;
  }

  a {
    @include tooltip;

    #{$link} {
      @include adjust-font-size-to($normpx);
      display: inline-block;
      margin: 0 rhythm(.5);
      padding: 0 rhythm(.25);
      text-align: center;
    }
  }
}
