// Navigation
// ----------

$nav: nouns, verbs, adjectives;

@mixin active-nav($slug) {
  .#{$slug} &[href*="#{$slug}"] {
    @include before("/");
    color: color(lightest);
  }
}

@mixin nav($slugs) {
  @each $slug in $slugs {
    @include active-nav($slug);
  }
}

[role="navigation"] {
  @include sans;
  @include adjust-font-size-to($smallpx);
  @include trailer(.5);
  text-align: center;

  ul { @include inline-block-list; }

  a {
    #{$link} {
      display: block;
      color: color(lighter,.75);
      @include wrap-content(" ") {
        display: inline-block;
        width: .5rem;
      }
    }
    #{$focus} {
      @include before("/");
      color: color(lightest);
    }

    @include nav($nav);
  }

  @include breakpoint($container-width) {
    @include span(3 omega);
    @include padding-leader(.75);
    @include trailer(.75);
    text-align: right;
  }
}
