// Susy
// ----

@include font('Susy' 'susy/greenmudsusy-regular-webfont');
@include font('Susy' 'susy/greenmudsusy-bold-webfont' bold);

@include font('SusyCaps' 'susy/greenmudsusy-smallcaps-webfont');
@include font('SusyCaps' 'susy/greenmudsusy-smallcapsbold-webfont' bold);

// Narrator
// --------

@include font('Narrator' 'narrator/greenmudnarrator-regular-webfont');
@include font('Narrator' 'narrator/greenmudnarrator-bold-webfont' bold);

// Font Stacks
// -----------

$sans-stack   : "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-stack  : Baskerville, Palatino, Cambria, Georgia, serif;

// Font Mixins
// -----------

@mixin serif { font-family: 'Narrator', $serif-stack; }
@mixin sans { font-family: 'Susy', $serif-stack; }
@mixin sanscaps { font-family: 'SusyCaps', $serif-stack; }
