@include font-face (
  'teacup',
  font-files(
    'teacup.svg#teacup', svg,
    'teacup.woff', woff,
    'teacup.ttf', truetype
  ),
  'teacup.eot',
  normal,
  normal
);

/* Use the following CSS code if you want to have a class per icon */
%icon-content {
  font-family: 'teacup';
  font-style: normal;
  speak: none;
}

%icon {
  &:before {
    @extend %icon-content;
    margin-right: .4em;
  }
}

%icon-replace {
  @extend %icon;
  position: relative;
  min-width: 1em;
  text-indent: -9999px;
  &:before{
    position: absolute;
    top: 0;
    left: 0;
    text-indent: 0;
    margin: 0;
  }
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  @extend %icon-content;
  content: attr(data-icon);
}

%icon-facebook:before { content: "\e001"; }
%icon-twitter:before { content: "\e002"; }
%icon-envelope:before { content: "\e000"; }
%icon-feed:before { content: "\e003"; }
%icon-soundcloud:before { content: "\e004"; }
%icon-myspace:before { content: "\e005"; }
