// Icons
// =====

@include font('teacup' 'icons/teacup');

@include icon-defaults('teacup');

@each $icon in $icons {
  %icon-#{nth($icon,1)}:before {
    content: nth($icon,2);
  }
}

@mixin icon($name) {
  @extend %icon;
  @extend %icon-#{$name};

  &:before {
    @content;
  }
}

@mixin icon-replace($name, $width: null) {
  @extend %icon-replace;
  @extend %icon-#{$name};
  display: inline-block;
  min-width: $width;
  text-align: left;

  &:before {
    @content;
  }
}
