// ----------------------------------------------------------------------------
// Reset

@import "compass/reset";
@import "fonts";

// ----------------------------------------------------------------------------
// Root

$noise    : image-url('noise.png');
$bg1      : color($blue lightest,.25);
$bg2      : color($blue lighter,.25);
$angle    : to bottom;
$gradient : $bg1, $bg2;

@include establish-baseline;

html {
  @include background($blue lightest);
  @include background($bg1, $noise);
  @include background(convert-gradient($angle, $gradient...), $noise);
  @include text-shadow(color(white,.5) 0 1px 0);
  background: linear-gradient($angle, $gradient), $noise;
  background-attachment: fixed;
  color: $base;
}

body { @include serif; }

img {
  vertical-align: bottom;
  width: 100%;
}

// ----------------------------------------------------------------------------
// Imports

@import "type";
@import "icons";
