// Links
// -----

a {
  &:hover, &:active {
    outline: none;
  }
  #{$link} {
    color: $alt;
    text-decoration: none;
  }
  #{$focus} {
    color: $accent;
  }
}

// Typography
// ----------

%headings {
  h1, h2, h3 {
    @include serif;
    color: color(lightest);
  }

  h1 {
    @include adjust-font-size-to($xlargepx);
    @include breakpoint(container()) { @include adjust-font-size-to($xxlargepx); }

    a {
      #{$link} { color: color(lightest); }
      #{$focus} { color: $alt; }
    }
  }

  h2 {
    @include adjust-font-size-to($largepx);
    @include breakpoint(container()) { @include adjust-font-size-to($xlargepx); }
  }

  h3 {
    @include trailer;
    text-transform: uppercase;
    letter-spacing: .1em;
  }

  h4 {
    @include sanscaps;
    font-weight: bold;
  }

  h5, h6 { @include sanscaps; }
}

%type {
  @extend %headings;

  strong { font-weight: bold; }
  em, blockquote { @include sanscaps; }

  p, ul, ol, pre, blockquote { @include trailer; }
  p:empty { display: none; }
  ul { list-style-type: disc; }
  ol { list-style-type: decimal; }

  blockquote {
    @include rem(padding, 0 rhythm(.751));
    @include rem(border-left, rhythm(.25) solid color(lighter));
    em { font-style: normal; }
  }

  ul, ol, blockquote {
    ul, ol { @include rem(margin-left, rhythm(1)); }
  }

  figure {
    @include trailer(1);
    .video { @include fluid-ratio; }
  }

  figcaption {
    @include adjust-font-size-to($smallpx,.75);
    @include leader(.5);
    @include rem(padding, rhythm(.5));
    background: color(black,.25);
    color: color($base dark, .75);
    counter-increment: fig;
    &:before {
      @include serif;
      content: "fig." counter(fig);
      margin-right: .4em;
      color: color($base dark,.5);
    }
  }
}