// Base Styles
// ===========

@include establish-baseline(18px);
@include breakpoint(35em) { @include establish-baseline; }

* { @include box-sizing(border-box); }

html {
  @include body-text;
  background: $bg-color image-url('black_paper.png') repeat fixed;
  color: $text-color;
  text-shadow: 0 -1px 0 color(darker $bg-color);
  letter-spacing: .05em;
}

html, body { min-height: 100%; }

%grid-padding {
  @include gutters($grid-padding inside);
  @include breakpoint(35em) { @include gutters($grid-padding * 2 inside); }
}

[role="main"] { @extend %grid-padding; }
