// Base Styles
// ===========

@include establish-baseline;

html {
  @include body-text;
  background: $bg-color image-url('black_paper.png') repeat fixed;
  color: $text-color;
  text-shadow: 0 -1px 0 color(darker $bg-color);
  letter-spacing: .05em;
}

html, body { min-height: 100%; }

body {
  border-top: rhythm(.25) solid $alt;
}

[role="main"] {
  padding: 0 rhythm(1);
}
