// Colors
// ======

$red    : hsl(0,85%,50%);
$blue   : hsl(195,100%,50%);

// Pallette
// --------

$base: color(lighter);
$alt: $red;
$accent: color(light $blue);

$bg-color: color(darkest);
$text-color: $base;
