// Face Sketch
// ===========

%sketch {
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke: $bg-color;
}

%sketch-line {
  @extend %sketch;
  fill: none;
}

%sketch-fill {
  @extend %sketch;
  fill: $bg-color;
}

.face-sketch {
  @include stretch;

  path { pointer-events: none; }

  .style0 { @extend %sketch-line; }
  .style1 { @extend %sketch-fill; }

  .window {
    fill: $text-color;
    transition: fill 600ms;
    &:hover { fill: $alt; }
    &:nth-child(4):hover { fill: $accent; }
  }
}
