// Fonts
// =====

$fonts: (
  susy: (
    regular: 'susy/greenmudsusy-regular-webfont',
    bold: 'susy/greenmudsusy-bold-webfont',
  ),
  susycaps: (
    regular: 'susy/greenmudsusy-smallcaps-webfont',
    bold: 'susy/greenmudsusy-smallcapsbold-webfont',
  ),
  narrator: (
    regular: 'narrator/greenmudnarrator-regular-webfont',
    bold: 'narrator/greenmudnarrator-bold-webfont',
  ),
  teacup: (
    regular: 'icons/teacup',
  ),
);

@mixin fonts(
  $fonts: $fonts
) {
  @each $name, $type in $fonts {
    @each $style, $path in $type {
      $style: if($style == normal or $style == regular, null, $style);
      $font: join($name $path, $style);
      @include font($font);
    }
  }
}

@include fonts;

// Stacks
// ------

$sans-stack   : "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-stack  : Baskerville, Palatino, Cambria, Georgia, serif;

@mixin serif { font-family: 'narrator', $serif-stack; }
@mixin sans { font-family: 'susy', $serif-stack; }
@mixin caps { font-family: 'susycaps', $serif-stack; }

%serif { @include serif; }
%sans { @include sans; }
%caps { @include caps; }

// Mixins
// ------

@mixin display-text(
  $include: false
) {
  @if $include {
    @include serif;
  } @else {
    @extend %serif;
  }
}

@mixin body-text(
  $include: false
) {
  @if $include {
    @include sans;
  } @else {
    @extend %sans;
  }
}

@mixin alt-text(
  $include: false
) {
  @if $include {
    @include caps;
  } @else {
    @extend %caps;
  }
}
