// Typography
// ----------

$heading-color: color(lightest);

$h1-size: xxlarge;
$h2-size: large;

%heading {
  @include display-text;
  color: $heading-color;
}

%h1 {
  @extend %heading;
  @include font-size($h1-size);
}

%h2 {
  @extend %heading;
  @include font-size($h2-size);
}

%h3 {
  @extend %heading;
  text-transform: uppercase;
}

%h4 {
  @extend %heading;
}

%headings {
  h1 { @extend %h1; }
  h2 { @extend %h2; }
  h3 { @extend %h3; }
  h4 { @extend %h4; }
}

%body {
  strong { font-weight: bold; }
  em, blockquote { @include caps; }

  p, ul, ol, pre, blockquote { @include trailer; }
  p:empty { display: none; }
  ul { list-style-type: disc; }
  ol { list-style-type: decimal; }

  blockquote {
    padding: 0 rhythm(.75);
    border-left: rhythm(.25) solid;
    em { font-style: normal; }
  }

  ul, ol, blockquote {
    ul, ol { margin-left: rhythm(1); }
  }
}

%type {
  @extend %headings;
  @extend %body;
}
