{% macro signup(compact=true) %}
<div id="mc_embed_signup">
<form action="//teacupgorilla.us1.list-manage.com/subscribe/post?u=c4ede61aa238c4cacbcacc51c&amp;id=d831d43185" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <label for="mce-EMAIL" class="mc-field-group form-field">
    <span class="ff-label">Email Address</span>
    <input type="email" value="" name="EMAIL" class="required email ff-value" id="mce-EMAIL" data-input="text">
  </label>

  {% if not compact %}
    <label for="mce-ZIPCODE" class="mc-field-group form-field is-optional">
      <span class="ff-label">Zip Code</span>
      <input type="text" value="" name="ZIPCODE" class="ff-value" id="mce-ZIPCODE" data-input="text">
    </label>
  {% endif %}

  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;"><input type="text" name="b_c4ede61aa238c4cacbcacc51c_d831d43185" tabindex="-1" value=""></div>

  <div class="form-actions">
    {% if not compact %}
      <span class="fa-extra">
        <a href="http://us1.campaign-archive1.com/home/?u=c4ede61aa238c4cacbcacc51c&id=d831d43185" class="mc-preview" title="View previous campaigns">
          view previous campaigns »
        </a>
      </span>
    {% endif %}
    <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" data-btn="action">Join us!</button>
  </div>
</form>
</div>
{% endmacro %}
