@charset "UTF-8";
.is-hidden, .social-title {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(1px 1px 1px 1px);
  clip-path: inset(1px 1px 1px 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

.body h1, .title {
  font-size: 1.45833rem;
  line-height: 2.91667rem; }

.body h2 {
  text-transform: uppercase; }

a:link, a:visited {
  color: #ef3939;
  text-decoration: none; }
a:hover, a:active, a:focus {
  color: #f15656;
  text-decoration: underline; }

.body strong {
  font-weight: bold; }
.body p, .body ul, .body ol, .body pre, .body blockquote, .body figure {
  margin-bottom: 1.45833rem; }
.body p:empty {
  display: none; }
.body ul {
  list-style-type: disc; }
.body ol {
  list-style-type: decimal; }
.body ul ul, .body ul ol, .body ol ul, .body ol ol, .body blockquote ul, .body blockquote ol {
  margin-left: 1.45833rem; }

@font-face {
  font-family: 'susy';
  font-style: normal;
  font-weight: normal;
  
  src: url('../fonts/susy/greenmudsusy-regular-webfont.woff') format('woff'), url('../fonts/susy/greenmudsusy-regular-webfont.ttf') format('truetype'); }

@font-face {
  font-family: 'susy';
  font-style: normal;
  font-weight: bold;
  
  src: url('../fonts/susy/greenmudsusy-bold-webfont.woff') format('woff'), url('../fonts/susy/greenmudsusy-bold-webfont.ttf') format('truetype'); }

html {
  font-family: 'susy', Baskerville, Palatino, Cambria, Georgia, serif; }

@font-face {
  font-family: 'susycaps';
  font-style: normal;
  font-weight: normal;
  
  src: url('../fonts/susy/greenmudsusy-smallcaps-webfont.woff') format('woff'), url('../fonts/susy/greenmudsusy-smallcaps-webfont.ttf') format('truetype'); }

@font-face {
  font-family: 'susycaps';
  font-style: normal;
  font-weight: bold;
  
  src: url('../fonts/susy/greenmudsusy-smallcapsbold-webfont.woff') format('woff'), url('../fonts/susy/greenmudsusy-smallcapsbold-webfont.ttf') format('truetype'); }

.body em, [role='navigation'], [role='contentinfo'], .gallery-citation, .byline, .show .at {
  font-family: 'susycaps', Baskerville, Palatino, Cambria, Georgia, serif; }

@font-face {
  font-family: 'narrator';
  font-style: normal;
  font-weight: normal;
  
  src: url('../fonts/narrator/greenmudnarrator-regular-webfont.woff') format('woff'), url('../fonts/narrator/greenmudnarrator-regular-webfont.ttf') format('truetype'); }

@font-face {
  font-family: 'narrator';
  font-style: normal;
  font-weight: bold;
  
  src: url('../fonts/narrator/greenmudnarrator-bold-webfont.woff') format('woff'), url('../fonts/narrator/greenmudnarrator-bold-webfont.ttf') format('truetype'); }

.body h1, .title, .body h2, .body h3, .body h4, .section-title, .gallery-caption, .pagination, .show .dt-start, .show .p-summary {
  font-family: 'narrator', Baskerville, Palatino, Cambria, Georgia, serif; }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 150%;
  line-height: 1.45833em;
  background: #151616 url('../images/black_paper.png') repeat fixed;
  border-left: 0.72917rem solid #ef3939;
  color: #dde0e0;
  letter-spacing: .05em;
  text-shadow: 0 0 1px rgba(16, 17, 17, 0.75); }

html, body {
  height: 100%; }

[role="banner"] {
  padding: 1.45833rem 0; }

.page-header {
  margin: 0 auto;
  max-width: 34rem;
  padding: 0 1.45833rem; }
  .page-header + .section .container {
    padding-top: 0; }

.section-title {
  font-size: 0.83333rem;
  line-height: 1.45833rem;
  margin-bottom: 1.45833rem; }
  .section-title:before, .section-title:after {
    content: ' [ '; }
  .section-title:after {
    content: ' ] '; }

.container {
  border-bottom: 0.04167rem dashed #ef3939;
  margin: 0 auto;
  max-width: 34rem;
  padding: 1.45833rem;
  transition: all 300ms; }
  .container:after {
    clear: both;
    content: ' ';
    display: block; }
  @media (min-width: 51em) {
    .container {
      padding: 4.375rem 1.45833rem; } }

img, video, iframe {
  max-width: 100%;
  vertical-align: top; }

[data-icon] {
  height: 1rem;
  width: 1rem;
  fill: currentColor;
  vertical-align: middle; }

[data-btn] {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-shadow: none; }
  [data-btn]:disabled {
    cursor: default; }

[data-input~="text"] {
  background: transparent;
  border: 0;
  color: #ef3939;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font: inherit;
  margin: 0;
  padding: 0 0.36458rem;
  transition: all 300ms; }
  [data-input~="text"]:focus {
    background: rgba(221, 224, 224, 0.125);
    outline: 0; }

.form-field {
  font-family: 'narrator', Baskerville, Palatino, Cambria, Georgia, serif;
  font-size: 0.83333rem;
  line-height: 1.45833rem;
  border-bottom: 1px dashed #8f9999;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 1.45833rem 0.36458rem; }

.ff-label {
  font-size: 0.70833rem;
  line-height: 1.45833rem;
  padding: 0 0.36458rem; }
  .ff-label:after {
    content: ':';
    color: #8f9999; }
  .is-optional .ff-label:after {
    content: ' (optional):'; }

.form-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 0.36458rem; }

.fa-extra {
  font-size: 0.70833rem;
  line-height: 1.45833rem;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  padding: 0 0.36458rem; }

[data-btn] {
  font-family: 'narrator', Baskerville, Palatino, Cambria, Georgia, serif;
  font-size: 0.83333rem;
  line-height: 1.45833rem;
  border-radius: 0.25rem;
  padding: 0 0.72917rem;
  transition: background-color 150ms; }
  [data-btn]:hover, [data-btn]:focus, [data-btn]:active {
    outline: 0; }

[data-btn~='action'], [data-btn~='action']:link, [data-btn~='action']:visited {
  background-color: #ef3939;
  color: #fff; }
[data-btn~='action']:hover, [data-btn~='action']:focus, [data-btn~='action']:active {
  background-color: #cb3030;
  color: #fff; }
[data-btn~='action']:active {
  box-shadow: 0 -1px 1px #ef3939 inset, 0 0 2px rgba(16, 17, 17, 0.75) inset; }

.logo {
  fill: transparent;
  margin: 0 auto;
  max-width: 18.5rem;
  stroke: #dde0e0;
  stroke-width: 3; }
  @media (min-width: 25em) and (max-width: 51em) {
    .logo {
      stroke-width: 2; } }
  .logo .e, .logo .bang {
    stroke: #ef3939; }

[role='navigation'] {
  font-size: 0.83333rem;
  line-height: 1.45833rem;
  text-align: center; }

[data-nav] {
  text-decoration: none; }
  [data-nav]:link, [data-nav]:visited {
    border-bottom: 0 solid rgba(239, 57, 57, 0.5);
    transition: all 150ms; }
  [data-nav]:hover, [data-nav]:focus, [data-nav]:active {
    border-bottom-width: 0.08333rem;
    text-decoration: none; }
  [data-nav] + [data-nav] {
    margin-left: 0.72917rem; }

[data-location='home'] [data-nav='home'] {
  border-bottom: 0.08333rem solid #ef3939; }

[data-location='blog'] [data-nav='blog'] {
  border-bottom: 0.08333rem solid #ef3939; }

[data-location='media'] [data-nav='media'] {
  border-bottom: 0.08333rem solid #ef3939; }

[data-location='bio'] [data-nav='bio'] {
  border-bottom: 0.08333rem solid #ef3939; }

[data-location='shows'] [data-nav='shows'] {
  border-bottom: 0.08333rem solid #ef3939; }

[data-location='press'] [data-nav='press'] {
  border-bottom: 0.08333rem solid #ef3939; }

.social [rel='me']:link, .social [rel='me']:visited {
  border: 2px solid #ef3939;
  border-radius: 100%;
  display: inline-block;
  line-height: 1rem;
  padding: 0.72917rem;
  position: relative;
  transition: all 300ms; }
.social [rel='me']:hover, .social [rel='me']:focus, .social [rel='me']:active {
  background: #ef3939;
  color: #dde0e0; }

.social-list {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 18.5rem; }
  .social-list .icon-text {
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(1px 1px 1px 1px);
    clip-path: inset(1px 1px 1px 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px; }

[role='contentinfo'] {
  font-size: 0.83333rem;
  line-height: 1.45833rem;
  text-align: center;
  text-transform: lowercase; }
  [role='contentinfo'] .container {
    border-bottom: 0;
    text-align: center; }
  [role='contentinfo'] .p-name {
    font-weight: bold; }

.gallery:after {
  clear: both;
  content: ' ';
  display: block; }

.gallery-body {
  margin: 0 -0.72917rem; }
  .gallery-body:after {
    clear: both;
    content: ' ';
    display: block; }
  .gallery-body iframe, .gallery-body video, .gallery-body img {
    border: 1px solid #8f9999;
    width: 100%; }

.gallery-item {
  float: left;
  margin-bottom: 1.45833rem;
  padding-left: 0.72917rem;
  padding-right: 0.72917rem;
  width: 50%; }

.full {
  width: 100%; }

.video-wrap {
  height: 0;
  padding-top: 56.25%;
  position: relative;
  width: 100%; }
  .video-wrap * {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%; }

.gallery-citation {
  font-size: 0.83333rem;
  line-height: 1.45833rem;
  float: right;
  margin-top: -1.45833rem;
  text-transform: lowercase; }

.gallery-caption {
  font-size: 0.83333rem;
  line-height: 1.45833rem; }
  .gallery-caption:before, .gallery-caption:after {
    content: '['; }
  .gallery-caption:after {
    content: ']'; }

.faces {
  margin: 4.375rem auto 0;
  max-width: 34rem; }

.face-sketch {
  stroke: #151616;
  stroke-linecap: round;
  stroke-linejoin: round; }
  .face-sketch path {
    fill: none;
    pointer-events: none;
    stroke-width: .75; }
  .face-sketch rect {
    fill: rgba(221, 224, 224, 0.75);
    transition: fill 300ms; }
    .face-sketch rect:hover {
      fill: #ef3939; }
    .face-sketch rect:nth-child(3):hover {
      fill: #ae6af2; }

.post .body {
  border: 0; }

.title a:link, .title a:visited {
  text-decoration: none; }

.byline {
  font-size: 0.83333rem;
  line-height: 1.45833rem;
  margin-bottom: 1.45833rem;
  margin-top: -0.72917rem;
  text-transform: lowercase; }
  .byline a:link, .byline a:visited {
    text-decoration: none; }

.body:after {
  clear: both;
  content: ' ';
  display: block; }

.more-link {
  font-size: 0.83333rem;
  line-height: 1.45833rem;
  float: right; }

.pagination {
  font-size: 0.83333rem;
  line-height: 1.45833rem;
  border-bottom: 0.04167rem dashed #ef3939;
  margin: 0 auto;
  max-width: 34rem;
  padding: 4.375rem 1.45833rem;
  text-align: center; }
  .pagination .prev, .pagination .next {
    padding: 0 0.72917rem; }
    .pagination .prev:link, .pagination .prev:visited, .pagination .next:link, .pagination .next:visited {
      text-decoration: none; }
  .pagination .location:before, .pagination .location:after {
    content: ' • '; }
  .pagination .now, .pagination .context {
    font-size: 2.08333rem;
    line-height: 2.1875rem;
    color: #dde0e0;
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    margin: 0 0.36458rem;
    vertical-align: middle; }
  .pagination .disabled {
    opacity: .25; }

.feature {
  background: no-repeat scroll;
  background-size: cover;
  padding: 1.45833rem;
  transition: all 300ms; }

.feature-inner {
  background: rgba(16, 17, 17, 0.95);
  border-radius: 0.25rem;
  margin: 4.375rem auto 1.45833rem;
  max-width: 34rem;
  padding: 1.45833rem; }
  @media (min-width: 40em) {
    .feature-inner {
      margin: 17.5rem auto 4.375rem; } }

.show:after {
  clear: both;
  content: ' ';
  display: block; }
.show + .show {
  margin-top: 1.45833rem; }
.show.feature {
  border-bottom: 0.02083rem dashed #dde0e0;
  margin-bottom: 2.1875rem;
  padding-bottom: 2.1875rem; }
  .show.feature .u-photo {
    display: block;
    margin-bottom: 0.72917rem; }
.show .u-photo {
  height: 2.91667rem;
  width: 2.91667rem;
  background: no-repeat scroll;
  background-size: cover;
  border: 1px solid #8f9999;
  display: none;
  float: left;
  margin-right: 0.72917rem;
  transition: all 300ms; }
  @media (min-width: 51em) {
    .show .u-photo {
      display: block; } }
  .show .u-photo:hover, .show .u-photo:focus, .show .u-photo:active {
    border-color: #ef3939; }
  .feature .show .u-photo {
    display: none; }
.show .dt-start {
  font-size: 0.83333rem;
  line-height: 1.45833rem;
  font-weight: bold; }
@media (min-width: 51em) {
  .show .p-summary, .show .show-meta {
    padding-left: 3.64583rem; } }
.show .p-name, .show .p-organization-name {
  font-weight: bold; }
.show .p-description {
  font-size: 0.83333rem;
  line-height: 1.45833rem;
  display: inline; }
  .show .p-description:before {
    content: '—'; }
.show .at {
  font-size: 0.83333rem;
  line-height: 1.45833rem; }
.show .with {
  display: inline-block; }

.press-kit {
  margin-bottom: 1.45833rem;
  text-align: center; }
  .press-kit strong {
    font-weight: bold; }

blockquote {
  font-size: 1.20833rem;
  line-height: 1.45833rem;
  border-left: 0.16667rem solid;
  padding: 0.72917rem; }
  blockquote .attribution {
    font-size: 0.83333rem;
    line-height: 1.45833rem;
    margin: -0.72917rem 0 0; }

.demo {
  margin: 0 auto 1.45833rem;
  max-width: 700px; }

#player {
  max-width: 100%; }


/*# sourceMappingURL=screen.css.map */