// Contentinfo
// ===========

[role='contentinfo'] {
  @extend %caps;
  @include font-size(small);
  padding-bottom: size(shim);
  text-align: center;
  text-transform: lowercase;

  @include at(break) {
    padding-top: 0;

    p {
      border-top: size(border) dashed color(border);
      padding: size(shim) 0;
    }
  }
}
