// Contentinfo
// ===========

[role='contentinfo'] {
  @extend %caps;
  @include font-size(small);
  text-align: center;
  text-transform: lowercase;

  .container {
    border-bottom: 0;
    text-align: center;
  }

  .p-name {
    font-weight: bold;
  }
}
