// Face Sketch
// ===========

.face-sketch {
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke: color(background);

  path {
    fill: none;
    pointer-events: none;
    stroke-width: .75;
  }

  rect {
    @include transition(fill 300ms);
    fill: color(text (rgba: .75));

    &:hover {
      fill: color(action);
    }

    &:nth-child(3):hover {
      fill: color(accent);
    }
  }
}
