// Face Sketch
// ===========

.faces {
  margin: size(spacer) auto 0;
  max-width: size(page);
}

.face-sketch {
  stroke: color(background);
  stroke-linecap: round;
  stroke-linejoin: round;

  path {
    fill: none;
    pointer-events: none;
    stroke-width: .75;
  }

  rect {
    fill: color(text (rgba: .75));
    transition: fill 300ms;

    &:hover {
      fill: color(action);
    }

    &:nth-child(3):hover {
      fill: color(accent);
    }
  }
}
