// Forms
// =====

@import 'forms.config';


// Inputs
// ------

[data-input~="text"] {
  background: transparent;
  border: 0;
  color: color(action);
  flex: 1;
  font: inherit;
  margin: 0;
  padding: 0 size(half-shim);
  transition: all 300ms;

  &:focus {
    background: color(light (rgba: .125));
    outline: 0;
  }
}


// Forms
// -----

.form-field {
  @include font(serif);
  @include font-size(small, 1);
  border-bottom: 1px dashed color(outline);
  cursor: pointer;
  display: flex;
  margin: size(gutter) size(half-shim);
}

.ff-label {
  @include font-size(smaller, 1);
  padding: 0 size(half-shim);

  @include after(':') {
    color: color(outline);
  }

  .is-optional & {
    @include after(' (optional):');
  }
}

.form-actions {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  padding: 0 size(half-shim);
}

.fa-extra {
  @include font-size(smaller, 1);
  flex: 1;
  order: 2;
  padding: 0 size(half-shim);
}


// Buttons
// -------

[data-btn] {
  @extend %button-reset;
  @include font(serif);
  @include font-size(small, 1);
  border-radius: size(corners);
  padding: 0 size(shim);
  transition: background-color 150ms;

  #{$focus} {
    outline: 0;
  }
}

[data-btn~='action'] {
  &,
  #{$link} {
    @include contrasted(action);
  }

  #{$focus} {
    @include contrasted(action (shade: 15%));
  }

  &:active {
    box-shadow: 0 -1px 1px color(action) inset, 0 0 2px color(shadow) inset;
  }
}
