// Forms
// =====


::-webkit-input-placeholder {
   color: color('gray');
}

:-moz-placeholder { /* Firefox 18- */
   color: color('gray');
}

::-moz-placeholder {  /* Firefox 19+ */
   color: color('gray');
}

:-ms-input-placeholder {
   color: color('gray');
}


// Inputs
// ------

input:not([type='checkbox']):not([type='radio']) {
  @include font-size(small);
  background: transparent;
  border: 2px solid color(border);
  color: color(action);
  font-family: inherit;
  margin-bottom: size(shim)/2;
  padding: 0 size(shim)/2;
  transition: all 300ms;
  width: 100%;

  &:focus {
    background: color(light (rgba: .125));
    color: color(text);
  }
}


// Form Actions
// ------------

.form-actions {
  text-align: right;
}


// Button
// ------

button {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  padding: 0;
  text-decoration: none;
  text-shadow: none;

  &:disabled { cursor: default; }
}

.button {
  @include font-size(smaller);
  background: color(action);
  border-radius: size(corners);
  color: color(light);
  font-weight: bold;
  padding: 0 size(shim);
  text-transform: uppercase;
}
