// Gallery
// =======

.gallery {
  @include micro-clearfix;
}

.gallery-body {
  @include micro-clearfix;
  margin: 0 0 - size(shim);

  iframe,
  video,
  img {
    border: 1px solid color(outline);
    width: 100%;
  }
}

.gallery-item {
  float: left;
  margin-bottom: size(gutter);
  padding-left: size(shim);
  padding-right: size(shim);
  width: 50%;
}

.full {
  width: 100%;
}

.video-wrap {
  height: 0;
  padding-top: percentage(9/16);
  position: relative;
  width: 100%;

  * {
    @include stretch;
    height: 100%;
  }
}

.gallery-citation {
  @extend %caps;
  @include font-size(small);
  float: right;
  margin-top: - size(gutter);
  text-transform: lowercase;
}

.gallery-caption {
  @extend %serif;
  @include font-size(small);
  @include wrap-content('[' ']');
}
