// Logo
// ====

.logo {
  fill: transparent;
  margin: 0 auto;
  max-width: size(logo);
  stroke: color(text);
  stroke-width: 3;

  @include at(25em root-size(break)) {
    stroke-width: 2;
  }

  .e,
  .bang {
    stroke: color(action);
  }
}
