// Pagination
// ==========

.pagination {
  @extend %serif;
  @include font-size(small);
  border-bottom: size(border) dashed color(border);
  margin: 0 auto;
  max-width: size(page);
  padding: size(spacer) size(gutter);
  text-align: center;

  .prev,
  .next {
    padding: 0 size(shim);

    &:link,
    &:visited {
      text-decoration: none;
    }
  }

  .location {
    @include wrap-content(' • ');
  }

  .now,
  .context {
    @include font-size(larger);
    color: color(text);
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    margin: 0 size(shim)/2;
    vertical-align: middle;
  }

  .disabled {
    opacity: .25;
  }
}
