// Blog Posts
// ==========

.post {
  .body {
    border: 0;
  }
}

.title {
  @extend %h1;

  a {
    &:link,
    &:visited {
      text-decoration: none;
    }
  }
}

.byline {
  @extend %caps;
  @include font-size(small);
  margin-bottom: size(gutter);
  margin-top: - size(shim);
  text-transform: lowercase;

  a {
    &:link,
    &:visited {
      text-decoration: none;
    }
  }
}

.body {
  @extend %body;
  @include micro-clearfix;
}

.more-link {
  @include font-size(small);
  float: right;
}
