// Press
// =====

.section--press {
  @extend %body;
}

.clipping {
  .quote {
    @include wrap-content;
    margin: 0;
  }

  .citation {
    @extend %caps;
    @include before('— ');
    @include font-size(small, 1);
    margin: 0;
  }
}


.press-kit {
  border-top: size(border) dashed color(border);
  display: block;
  margin-bottom: size(spacer) + size(gutter);
  text-align: center;
}

.press-link {
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
}
