// Social
// ======

.social-title {
  @extend %is-hidden;
}

.social {
  [rel='me'] {
    &:link,
    &:visited {
      border: 2px solid color(action);
      border-radius: 100%;
      display: inline-block;
      line-height: size(normal);
      padding: size(shim);
      position: relative;
      transition: all 300ms;
    }

    &:hover,
    &:focus,
    &:active {
      background: color(action);
      color: color(text);
    }
  }
}

.social-list {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: size(gutter);
  max-width: size(logo);

  .icon-text {
    @include is-hidden;
  }
}


// Email
// -----

.email-signup {
  margin: 0 auto;
  max-width: size(logo);

  [for='mce-EMAIL'] {
    @include is-hidden;
  }
}

.email-title {
  @include is-hidden;
}
