{% import "music/_macros.html.j2" as music %}

<section class="shows recent section" aria-labelledby='recent-title'>
<div class="container">
  <h2 class="section-title" id="recent-title">Past Shows</h2>
  {% for show in config.recent %}
  {% if not module.count or loop.index <= module.count %}
    {{ music.show(show) }}
  {% endif %}
  {% endfor %}

  {% if module.count and config.recent|length > module.count %}
  <a href="/verbs/" class="more">more imperfection »</a>
  {% endif %}
</div>
</section>
