<article class="show h-event">
  {# Time #}
  <time class="dt-start" {% if show.datetime %}datetime="{{ show.datetime }}"{% endif %}>
    {% if show.date %}<span class="date">{{ show.date }}</span>{% endif %}
    {% if show.time %}<span class="time">{{ show.time }}</span>{% endif %}
  </time>

  <h3 class="p-summary">
    {# Title #}
    {% if show.title %}
    <span class="p-name">
      {% if show.title_url or show.url %}
      <a href="{{ show.title_url or show.url }}">{{ show.title|safe }}</a>
      {% else %}
      {{ show.title|safe }}
      {% endif %}
    </span>
    {% endif %}

    {# Location #}
    {% if show.venue %}
    <span class="p-location h-card">
      at
      {% if show.venue_url or show.url %}
      <a href="{{ show.venue_url or show.url }}" class="p-organization-name u-url">{{ show.venue|safe }}</a>
      {% else %}
      <span class="p-organization-name">{{ show.venue|safe }}</span>
      {% endif %}
    </span>
    {% endif %}
  </h3>

  {# With #}
  {% if show.with %}
  <div class="p-description">
    {% if show.with is string %}
    {{ show.with }}
    {% else %}
    {% if show.before_with %}{{ show.before_with }}{% endif %}
    with
    {% for feature in show.with -%}
    {%- if loop.last and not loop.first %} and {% endif %}
    {%- if feature.url -%}
    <a href="{{ feature.url }}">{{ feature.name }}</a>
    {%- else -%}
    <em>{{ feature.name }}</em>
    {%- endif -%}
    {%- if loop.length > 2 and not loop.last %}, {% endif %}
    {% endfor %}
    {% endif %}
  </div>
  {% endif %}
</article>
