{% import "music/_macros.html.j2" as music %}

{% if config.upcoming %}
<section class="shows upcoming section" aria-labelledby='upcoming-title'>
<div class="container">
  <h2 class="section-title" id="upcoming-title">Upcoming Shows</h2>
  {% for show in config.upcoming %}
  {% if not module.count or loop.index <= module.count %}
    {{ music.show(show, config=config) }}
  {% endif %}
  {% endfor %}

  {% if module.count and config.upcoming|length > module.count %}
    <a href="/verbs/" class="more-link">more »</a>
  {% elif module.more %}
    <a href="/verbs/" class="more-link">{{ module.more }} »</a>
  {% endif %}
</div>
</section>
{% endif %}
