// Base Styles
// ===========


@include fonts;
@include establish-baseline;
@include global-box-sizing;

html {
  @extend %sans;
  background: color(background) image-url('black_paper.png') repeat fixed;
  border-left: size(shim) solid color(border);
  color: color(text);
  height: 100%;
  letter-spacing: .05em;
  text-shadow: 0 0 1px color(shadow);
}


// A11y
// ----

.is-hidden {
  @extend %is-hidden;
}


// Links
// -----

a {
  @extend %link;
}


// Media
// -----

img, video, iframe {
  max-width: 100%;
  vertical-align: top;
}
