// Colors
// ======

$mid              : hsl(0,0%,50%);
$blue             : hsl(195,100%,50%);
$red              : hsl(0,85%,50%);

// Defaults
// --------

$base             : color(lighter);
$alt              : color($red light);
$accent           : color($red);
