// Fonts
// =====

$font-formats: woff ttf;

$stack: Baskerville, Palatino, Cambria, Georgia, serif;

$fonts: (
  sans: (
    name: 'susy',
    styles: (regular, bold),
    path: 'susy/greenmudsusy-%s%s-webfont',
    stack: $stack,
  ),

  caps: (
    name: 'susycaps',
    files: (
      normal normal: 'susy/greenmudsusy-smallcaps-webfont',
      bold normal: 'susy/greenmudsusy-smallcapsbold-webfont',
    ),
    stack: $stack,
  ),

  serif: (
    name: 'narrator',
    styles: (regular, bold),
    path: 'narrator/greenmudnarrator-%s%s-webfont',
    stack: $stack,
  ),
);

@mixin font(
  $family,
  $fonts: $fonts
) {
  @if map-has-key($fonts, $family) {
    $font: map-get($fonts, $family);

    font-family: map-get($font, name), map-get($font, stack);
  } @else {
    @warn '#{$family} is not a valid font-family';
  }
}
