// ----------------------------------------------------------------------------
// Grid

@include set-grid(6 (4rem 1rem) inside-static hide);

// ----------------------------------------------------------------------------
// Background

$grid-background-baseline-color   : color(lighter,.25);
$grid-background-baseline-height  : $base-line-height;
$grid-background-column-color     : color($blue lightest,.25);
