// Icons
// =====

$icon-facebook      : "\e001";
$icon-twitter       : "\e002";
$icon-envelope      : "\e000";
$icon-feed          : "\e003";
$icon-soundcloud    : "\e004";
$icon-myspace       : "\e005";

$icons              : 'facebook'      $icon-facebook,
                      'twitter'       $icon-twitter,
                      'envelope'      $icon-envelope,
                      'feed'          $icon-feed,
                      'soundcloud'    $icon-soundcloud,
                      'myspace'       $icon-myspace;
