// Typography
// ----------

$heading-color: color(light);

$h1-size: large;
$h2-size: medium;

%heading {
  @extend %serif;
  color: $heading-color;
}

%h1 {
  @extend %heading;
  @include font-size($h1-size);
}

%h2 {
  @extend %heading;
  @include font-size($h2-size);
}

%h3 {
  @extend %heading;
  text-transform: uppercase;
}

%h4 {
  @extend %heading;
}

%headings {
  h1 { @extend %h1; }
  h2 { @extend %h2; }
  h3 { @extend %h3; }
  h4 { @extend %h4; }
}

%link {
  &:link, &:visited {
    color: color(action);
  }
  &:hover, &:active, &:focus {
    color: color(focus);
  }
}

%body {
  strong { font-weight: bold; }
  em, blockquote { @extend %caps; }
  blockquote em { font-style: normal; }

  p, ul, ol, pre, blockquote { margin-bottom: size(rhythm); }
  p:empty { display: none; }
  ul { list-style-type: disc; }
  ol { list-style-type: decimal; }

  ul, ol, blockquote {
    ul, ol { margin-left: size(rhythm); }
  }
}

%type {
  @extend %headings;
  @extend %body;
}
