{% if config.gallery %}
{% for gallery in config.gallery %}
<figure class="gallery{% if gallery.is_section %} section{% endif %}">
  {% if gallery.is_section %}
  {% include "gallery/_caption.html" %}
  {% endif %}

  <div class="gallery-body">
    {% for item in gallery.body %}
    {% if item.image %}
    <img src="/static/pictures/{{ item.image }}"{% if item.class %} class="{{ item.class }}"{% endif %}{% if item.alt %} alt="{{ item.alt }}"{% endif %} />
    {% elif item.video %}
    <div class="video{% if item.class %} {{ item.class }}{% endif %}">{{ item.video|safe }}</div>
    {% endif %}
    {% endfor %}
  </div>

  {% if not gallery.is_section %}
  {% include "gallery/_caption.html" %}
  {% endif %}
</figure>
{% endfor %}
{% endif %}
