{% if config.gallery %}
{% for gallery in config.gallery %}
<figure class="gallery">
  {% if gallery.caption %}
  <figcaption class="gallery-caption">
    {% if gallery.caption is string %}
      {{ gallery.caption|safe }}
    {% else %}
      {% if gallery.caption.url %}
        <a href="{{ gallery.caption.url }}">{{ gallery.caption.text }}</a>
      {% else %}
        {{ gallery.caption.text }}
      {% endif %}
    {% endif %}
  </figcaption>
  {% endif %}

  <div class="gallery-body">
    {% for item in gallery.body %}
    {% if item.image %}
    <img src="/static/pictures/{{ item.image }}"{% if item.alt %} alt="{{ item.alt }}"{% endif %} />
    {% elif item.video %}
    <div class="video">{{ item.video|safe }}</div>
    {% endif %}
    {% endfor %}
  </div>
</figure>
{% endfor %}
{% endif %}
