// Content Info
// ============

[role='contentinfo'] {
  @extend %grid-padding;
  @include leader;
  @include rhythm-padding(.5, .25);
  background: $alt;
  color: color(lightest $alt, .85);
  text-shadow: 0 -1px 0 color(darker $alt, .5);
  font-weight: bold;
  text-align: center;

  a {
    &:link, &:visited {
      color: color(lightest $alt);
      text-decoration: none;
    }
    &:hover, &:focus, &:active {
      color: color(lightest);
    }
  }
}
