// Social
// ======

$social-size: xlarge;

%social-icon-link {
  &:link, &:visited {
    @extend %icon-link;
    @include font-size($social-size);
    @include tooltip(top right);
    display: inline-block;
    padding: 0 rhythm(.25);
  }
}

.social { @extend %grid-padding; }

.social-title { @extend .alt }

.social-list {
  @extend %section;
  @include rhythm-padding(3, 2);
  display: block;
  overflow: visible;
  border: 0;
  text-align: center;
}

.social-item {
  display: inline-block;

  + #{&} { margin-left: rhythm(.5); }
  a { @extend %social-icon-link; }
}
