@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "susy";
  src: url('../fonts/susy/greenmudsusy-regular-webfont.woff?1385428933') format("woff"), url('../fonts/susy/greenmudsusy-regular-webfont.ttf?1385428933') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "susy";
  src: url('../fonts/susy/greenmudsusy-bold-webfont.woff?1385428933') format("woff"), url('../fonts/susy/greenmudsusy-bold-webfont.ttf?1385428933') format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "susycaps";
  src: url('../fonts/susy/greenmudsusy-smallcaps-webfont.woff?1385428933') format("woff"), url('../fonts/susy/greenmudsusy-smallcaps-webfont.ttf?1385428933') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "susycaps";
  src: url('../fonts/susy/greenmudsusy-smallcapsbold-webfont.woff?1385428933') format("woff"), url('../fonts/susy/greenmudsusy-smallcapsbold-webfont.ttf?1385428933') format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "narrator";
  src: url('../fonts/narrator/greenmudnarrator-regular-webfont.woff?1385428933') format("woff"), url('../fonts/narrator/greenmudnarrator-regular-webfont.ttf?1385428933') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "narrator";
  src: url('../fonts/narrator/greenmudnarrator-bold-webfont.woff?1385428933') format("woff"), url('../fonts/narrator/greenmudnarrator-bold-webfont.ttf?1385428933') format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "teacup";
  src: url('../fonts/icons/teacup.woff?1385428933') format("woff"), url('../fonts/icons/teacup.ttf?1385428933') format("truetype");
  font-weight: normal;
  font-style: normal;
}
.show .title, .show .org, .logo, .show .dtstart {
  font-family: "narrator", Baskerville, Palatino, Cambria, Georgia, serif;
}

html {
  font-family: "susy", Baskerville, Palatino, Cambria, Georgia, serif;
}

a:link, a:visited {
  color: #ef4242;
}
a:hover, a:focus, a:active {
  color: #ec1313;
}

[data-icon]:before {
  box-sizing: content-box;
  font-family: "teacup";
  font-style: normal !important;
  font-weight: normal !important;
  speak: none;
}

[data-icon="facebook"]:before {
  content: "\e001";
}

[data-icon="twitter"]:before {
  content: "\e002";
}

[data-icon="email"]:before {
  content: "\e000";
}

[data-icon="feed"]:before {
  content: "\e003";
}

[data-icon="soundcloud"]:before {
  content: "\e004";
}

[data-icon="myspace"]:before {
  content: "\e005";
}

[data-icon="html5"]:before {
  content: "\e006";
}

.show .title, .show .org, .logo, .show .dtstart {
  color: #e5e5e5;
}

.show .title, .show .org {
  text-transform: uppercase;
}

html {
  font-size: 131.25%;
  line-height: 1.52381em;
}

html {
  background: #191919 url('../images/black_paper.png?1339701544') repeat fixed;
  color: #b2b2b2;
  text-shadow: 0 -1px 0 #0f0f0f;
  letter-spacing: .05em;
}

html, body {
  min-height: 100%;
}

body {
  padding: 0 1.52381rem;
  border: 0.19048rem solid #ec1313;
  border-width: 0.19048rem 0;
}

[role='navigation'] {
  font-size: 0.85714rem;
  line-height: 1.52381rem;
  text-align: right;
}
[role='navigation'] a:link, [role='navigation'] a:visited {
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  display: inline-block;
  padding: 0 0.7619rem;
  vertical-align: top;
  color: #efefef;
  background: rgba(239, 66, 66, 0.5);
  text-transform: uppercase;
  text-decoration: none;
}
[role='navigation'] a:hover, [role='navigation'] a:focus, [role='navigation'] a:active {
  padding-top: 1.52381rem;
  margin-bottom: -1.52381rem;
  background: #ec1313;
}

.blog [data-nav="blog"]:link, .blog [data-nav="blog"]:visited {
  padding-top: 2.28571rem;
  margin-bottom: -1.52381rem;
  background: #ec1313;
}

.nouns [data-nav="nouns"]:link, .nouns [data-nav="nouns"]:visited {
  padding-top: 2.28571rem;
  margin-bottom: -1.52381rem;
  background: #ec1313;
}

.verbs [data-nav="verbs"]:link, .verbs [data-nav="verbs"]:visited {
  padding-top: 2.28571rem;
  margin-bottom: -1.52381rem;
  background: #ec1313;
}

.adjectives [data-nav="adjectives"]:link, .adjectives [data-nav="adjectives"]:visited {
  padding-top: 2.28571rem;
  margin-bottom: -1.52381rem;
  background: #ec1313;
}

.logo {
  font-size: 0;
  letter-spacing: -2.09524rem;
  text-align: center;
}
.logo a:link, .logo a:visited {
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  display: block;
  color: #ec1313;
  text-shadow: -1px 4px 0 #e5e5e5;
}
.logo a:hover, .logo a:focus, .logo a:active {
  color: #e5e5e5;
  text-shadow: 0 0 0 #e5e5e5;
}

.t, .g {
  display: inline-block;
  vertical-align: middle;
}

.t {
  font-size: 10.71429rem;
  line-height: 11.42857rem;
}

.g {
  font-size: 6.19048rem;
  line-height: 6.85714rem;
}

.copyright {
  font-size: 0.66667rem;
  line-height: 1.52381rem;
  text-transform: uppercase;
}
.copyright .fn {
  font-weight: bold;
}

.face-sketch .style0, .face-sketch .style1 {
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke: #191919;
}

.face-sketch .style0 {
  fill: none;
}

.face-sketch .style1 {
  fill: #191919;
}

.face-sketch path {
  pointer-events: none;
}
.face-sketch .window {
  fill: #b2b2b2;
  transition: fill 600ms;
}
.face-sketch .window:hover {
  fill: #ec1313;
}
.face-sketch .window:nth-child(4):hover {
  fill: #33cbff;
}

.show {
  margin-bottom: 0.7619rem;
}
.show .dtstart {
  font-weight: bold;
}
.show .dtstart:after {
  content: " :: ";
  color: #b2b2b2;
}
.show .summary {
  display: inline-block;
}
.show .title, .show .org {
  font-weight: bold;
}
.show .with {
  font-size: 0.85714rem;
  line-height: 1.52381rem;
  padding-left: 1.52381rem;
}
.show .with:before {
  content: "• ";
}
.show .with a, .show .with em {
  text-transform: uppercase;
}

.social {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  overflow: visible;
}
.social li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  white-space: nowrap;
}
.social li + li {
  margin-left: 0.7619rem;
}
.social a:link, .social a:visited {
  display: inline-block;
  padding: 0 0.38095rem;
  text-decoration: none;
}
.social .tooltip {
  display: none;
}
