html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Susy";
  src: url('../fonts/susy/greenmudsusy-regular-webfont.woff?1349774720') format("woff"), url('../fonts/susy/greenmudsusy-regular-webfont.ttf?1349774720') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Susy";
  src: url('../fonts/susy/greenmudsusy-bold-webfont.woff?1349774720') format("woff"), url('../fonts/susy/greenmudsusy-bold-webfont.ttf?1349774720') format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SusyCaps";
  src: url('../fonts/susy/greenmudsusy-smallcaps-webfont.woff?1349774720') format("woff"), url('../fonts/susy/greenmudsusy-smallcaps-webfont.ttf?1349774720') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SusyCaps";
  src: url('../fonts/susy/greenmudsusy-smallcapsbold-webfont.woff?1349774824') format("woff"), url('../fonts/susy/greenmudsusy-smallcapsbold-webfont.ttf?1349774824') format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Narrator";
  src: url('../fonts/narrator/greenmudnarrator-regular-webfont.woff?1352202722') format("woff"), url('../fonts/narrator/greenmudnarrator-regular-webfont.ttf?1352202722') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Narrator";
  src: url('../fonts/narrator/greenmudnarrator-bold-webfont.woff?1352202722') format("woff"), url('../fonts/narrator/greenmudnarrator-bold-webfont.ttf?1352202722') format("truetype");
  font-weight: bold;
  font-style: normal;
}

html {
  font-size: 131.25%;
  line-height: 1.52381em;
}

html {
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 0;
  background: url('../images/noise.png?1347221205') #191919;
  color: #b2b2b2;
}

body {
  font-family: "Susy", Baskerville, Palatino, Cambria, Georgia, serif;
  letter-spacing: .05em;
}

img {
  vertical-align: bottom;
  width: 100%;
}

a:hover, a:active {
  outline: none;
}
a:link, a:visited {
  color: #ef4242;
  text-decoration: none;
}
a:focus, a:hover, a:active {
  color: #ec1313;
}

[role="main"] h1, [role="main"] h2, [role="main"] h3 {
  font-family: "Narrator", Baskerville, Palatino, Cambria, Georgia, serif;
  color: #e5e5e5;
}
[role="main"] h1 {
  font-size: 32px;
  font-size: 1.52381rem;
  line-height: 48px;
  line-height: 2.28571rem;
}
@media (min-width: 37.5rem) {
  [role="main"] h1 {
    font-size: 44px;
    font-size: 2.09524rem;
    line-height: 48px;
    line-height: 2.28571rem;
  }
}
[role="main"] h1 a:link, [role="main"] h1 a:visited {
  color: #e5e5e5;
}
[role="main"] h1 a:focus, [role="main"] h1 a:hover, [role="main"] h1 a:active {
  color: #ef4242;
}
[role="main"] h2 {
  font-size: 30px;
  font-size: 1.42857rem;
  line-height: 48px;
  line-height: 2.28571rem;
}
@media (min-width: 37.5rem) {
  [role="main"] h2 {
    font-size: 32px;
    font-size: 1.52381rem;
    line-height: 48px;
    line-height: 2.28571rem;
  }
}
[role="main"] h3 {
  margin-bottom: 32px;
  margin-bottom: 1.52381rem;
  text-transform: uppercase;
  letter-spacing: .1em;
}
[role="main"] h4 {
  font-family: "SusyCaps", Baskerville, Palatino, Cambria, Georgia, serif;
  font-weight: bold;
}
[role="main"] h5, [role="main"] h6 {
  font-family: "SusyCaps", Baskerville, Palatino, Cambria, Georgia, serif;
}

[role="main"] strong {
  font-weight: bold;
}
[role="main"] em, [role="main"] blockquote {
  font-family: "SusyCaps", Baskerville, Palatino, Cambria, Georgia, serif;
}
[role="main"] p, [role="main"] ul, [role="main"] ol, [role="main"] pre, [role="main"] blockquote {
  margin-bottom: 32px;
  margin-bottom: 1.52381rem;
}
[role="main"] p:empty {
  display: none;
}
[role="main"] ul {
  list-style-type: disc;
}
[role="main"] ol {
  list-style-type: decimal;
}
[role="main"] blockquote {
  padding: 0 24px;
  padding: 0 1.14438rem;
  border-left: 8px solid #b2b2b2;
  border-left: 0.38095rem solid #b2b2b2;
}
[role="main"] blockquote em {
  font-style: normal;
}
[role="main"] ul ul, [role="main"] ul ol, [role="main"] ol ul, [role="main"] ol ol, [role="main"] blockquote ul, [role="main"] blockquote ol {
  margin-left: 32px;
  margin-left: 1.52381rem;
}
[role="main"] figure {
  margin-bottom: 32px;
  margin-bottom: 1.52381rem;
}
[role="main"] figure .video {
  position: relative;
  height: 0;
  padding-top: 56.25%;
  width: 100%;
}
[role="main"] figure .video > * {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin: 0;
  padding: 0;
}
[role="main"] figcaption {
  font-size: 18px;
  font-size: 0.85714rem;
  line-height: 24px;
  line-height: 1.14286rem;
  margin-top: 16px;
  margin-top: 0.7619rem;
  padding: 16px;
  padding: 0.7619rem;
  background: rgba(0, 0, 0, 0.25);
  color: rgba(142, 142, 142, 0.75);
  counter-increment: fig;
}
[role="main"] figcaption:before {
  font-family: "Narrator", Baskerville, Palatino, Cambria, Georgia, serif;
  content: "fig." counter(fig);
  margin-right: .4em;
  color: rgba(142, 142, 142, 0.5);
}

@font-face {
  font-family: "teacup";
  src: url('../fonts/icons/teacup.woff?1377148464') format("woff"), url('../fonts/icons/teacup.ttf?1377148464') format("truetype");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font-family: "teacup";
  font-style: normal;
  speak: none;
}

[data-icon]:before {
  content: attr(data-icon);
}

[data-icon="facebook"]:before {
  content: "\e001";
}

[data-icon="twitter"]:before {
  content: "\e002";
}

[data-icon="email"]:before {
  content: "\e000";
}

[data-icon="feed"]:before {
  content: "\e003";
}

[data-icon="soundcloud"]:before {
  content: "\e004";
}

[data-icon="myspace"]:before {
  content: "\e005";
}

[data-icon="html5"]:before {
  content: "\e006";
}

.post:after {
  content: "+ + +";
  font-family: "Narrator", Baskerville, Palatino, Cambria, Georgia, serif;
  display: block;
  color: #ef4242;
  text-align: center;
}

.tooltip {
  font-size: 15px;
  font-size: 0.71429rem;
  line-height: 32px;
  line-height: 1.52381rem;
  position: absolute;
  padding: 0 0.38095rem;
  color: black;
  background: #c1c1c1;
  border: 1px solid black;
  text-shadow: 0 1px 0 #cdcdcd;
  white-space: nowrap;
  display: none;
}
[data-tooltip].tooltip:after {
  content: attr(data-tooltip);
}

.social a .tooltip {
  bottom: 100%;
  margin-bottom: 0.38095rem;
}

.social a .tooltip {
  left: 0;
}
.social a .tooltip:before {
  content: " ";
  position: absolute;
  height: 0;
  width: 0;
  border: solid transparent;
  pointer-events: none;
  top: 100%;
  border-top-color: #c1c1c1;
  border-width: 0.38095rem;
  left: 0.38095rem;
}

.social a {
  position: relative;
}
.social a:hover .tooltip {
  display: block;
}

body {
  max-width: 37.5rem;
  margin-left: auto;
  margin-right: auto;
}
body:after {
  content: "";
  display: table;
  clear: both;
}

[role="banner"] {
  font-size: 44px;
  font-size: 2.09524rem;
  line-height: 48px;
  line-height: 2.28571rem;
  padding-top: 16px;
  padding-top: 0.7619rem;
  white-space: nowrap;
  text-transform: lowercase;
  text-align: center;
}
[role="banner"] a:link, [role="banner"] a:visited {
  color: #b2b2b2;
}
[role="banner"] a:focus, [role="banner"] a:hover, [role="banner"] a:active {
  color: #ec1313;
}
@media (min-width: 37.5rem) {
  [role="banner"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    text-align: left;
  }
}

[role="navigation"] {
  font-family: "Susy", Baskerville, Palatino, Cambria, Georgia, serif;
  font-size: 18px;
  font-size: 0.85714rem;
  line-height: 32px;
  line-height: 1.52381rem;
  margin-bottom: 16px;
  margin-bottom: 0.7619rem;
  text-align: center;
}
[role="navigation"] ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}
[role="navigation"] ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
}
[role="navigation"] a:link, [role="navigation"] a:visited {
  display: block;
  color: rgba(178, 178, 178, 0.75);
}
[role="navigation"] a:link:before, [role="navigation"] a:visited:before {
  content: " ";
  display: inline-block;
  width: .5rem;
}
[role="navigation"] a:link:after, [role="navigation"] a:visited:after {
  content: " ";
  display: inline-block;
  width: .5rem;
}
[role="navigation"] a:focus, [role="navigation"] a:hover, [role="navigation"] a:active {
  color: #e5e5e5;
}
[role="navigation"] a:focus:before, [role="navigation"] a:hover:before, [role="navigation"] a:active:before {
  content: "/";
}
.nouns [role="navigation"] a[href*="nouns"] {
  color: #e5e5e5;
}
.nouns [role="navigation"] a[href*="nouns"]:before {
  content: "/";
}
.verbs [role="navigation"] a[href*="verbs"] {
  color: #e5e5e5;
}
.verbs [role="navigation"] a[href*="verbs"]:before {
  content: "/";
}
.adjectives [role="navigation"] a[href*="adjectives"] {
  color: #e5e5e5;
}
.adjectives [role="navigation"] a[href*="adjectives"]:before {
  content: "/";
}
@media (min-width: 37.5rem) {
  [role="navigation"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: right;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 24px;
    padding-top: 1.14286rem;
    margin-bottom: 24px;
    margin-bottom: 1.14286rem;
    text-align: right;
  }
}

[role="main"] {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-bottom: 16px;
  margin-bottom: 0.7619rem;
  border-top-width: 2px;
  border-top-width: 0.09524rem;
  border-top-style: solid;
  padding-top: 30px;
  padding-top: 1.42857rem;
  border-bottom-width: 2px;
  border-bottom-width: 0.09524rem;
  border-bottom-style: solid;
  padding-bottom: 30px;
  padding-bottom: 1.42857rem;
  clear: both;
  counter-reset: fig;
  border: 2px solid #b2b2b2;
  border-width: 2px 0;
}
@media (min-width: 37.5rem) {
  [role="main"] {
    border-top-width: 2px;
    border-top-width: 0.09524rem;
    border-top-style: solid;
    padding-top: 46px;
    padding-top: 2.19048rem;
    border-bottom-width: 2px;
    border-bottom-width: 0.09524rem;
    border-bottom-style: solid;
    padding-bottom: 46px;
    padding-bottom: 2.19048rem;
    border-top: 2px solid #b2b2b2;
    border-bottom: 2px solid #b2b2b2;
  }
}

[role="contentinfo"] {
  font-family: "Susy", Baskerville, Palatino, Cambria, Georgia, serif;
  font-size: 15px;
  font-size: 0.71429rem;
  line-height: 32px;
  line-height: 1.52381rem;
  padding-bottom: 1.52381rem;
  clear: both;
  text-transform: uppercase;
  text-align: center;
}

.copyright .fn {
  font-weight: bold;
}

.social {
  margin-bottom: 32px;
  margin-bottom: 1.52381rem;
}
.social ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  overflow: visible;
}
.social ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
}
.social a:link, .social a:visited {
  font-size: 21px;
  font-size: 1rem;
  line-height: 32px;
  line-height: 1.52381rem;
  display: inline-block;
  margin: 0 0.7619rem;
  padding: 0 0.38095rem;
  text-align: center;
}

.post {
  margin-bottom: 32px;
  margin-bottom: 1.52381rem;
}
.post:last-of-type:after {
  display: none;
}
.post .byline {
  font-family: "SusyCaps", Baskerville, Palatino, Cambria, Georgia, serif;
  margin-bottom: 16px;
  margin-bottom: 0.7619rem;
  color: #666666;
}

.gallery > a, .gallery > img {
  width: 33.33333%;
  float: left;
  margin-right: -100%;
  margin-bottom: 32px;
  margin-bottom: 1.52381rem;
}
.gallery > a:nth-child(3n + 1), .gallery > img:nth-child(3n + 1) {
  margin-left: 0;
  clear: left;
}
.gallery > a:nth-child(3n + 2), .gallery > img:nth-child(3n + 2) {
  margin-left: 33.33333%;
  clear: none;
}
.gallery > a:nth-child(3n + 3), .gallery > img:nth-child(3n + 3) {
  margin-left: 66.66667%;
  clear: none;
}
.gallery a:link, .gallery a:visited {
  -webkit-transition: all 150ms;
  -moz-transition: all 150ms;
  -o-transition: all 150ms;
  transition: all 150ms;
}
.gallery a:focus, .gallery a:hover, .gallery a:active {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}
.gallery figcaption {
  clear: both;
}

.readmore {
  font-family: "Narrator", Baskerville, Palatino, Cambria, Georgia, serif;
}
.readmore:after {
  content: "»";
}

.section {
  clear: both;
}

.blog-archive, .tag-archive {
  margin-top: 32px;
  margin-top: 1.52381rem;
}

.blog-archive li {
  list-style-type: none;
}
.blog-archive li ul {
  margin-left: 0;
}
.blog-archive li li {
  list-style-type: disc;
}

.tag-list {
  list-style-type: none;
}
.tag-list, .tag-list li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.tag-list li:after {
  content: ", ";
}
.tag-list li:last-child:after {
  content: "";
}
.tag-list {
  margin-top: 32px;
  margin-top: 1.52381rem;
  display: block;
}

.pagination {
  text-align: center;
}
.pagination .prev:before {
  content: "« ";
}
.pagination .current {
  font-size: 63px;
  font-size: 3rem;
  line-height: 80px;
  line-height: 3.80952rem;
  vertical-align: middle;
}
.pagination .next:after {
  content: " »";
}
.pagination .disabled {
  color: gray;
}

.feature {
  border-top-width: 2px;
  border-top-width: 0.09524rem;
  border-top-style: solid;
  padding-top: 14px;
  padding-top: 0.66667rem;
  padding-bottom: 16px;
  padding-bottom: 0.7619rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  clear: both;
}

.vevent .dtstart {
  font-family: "Narrator", Baskerville, Palatino, Cambria, Georgia, serif;
  font-weight: bold;
}
.vevent .time:before {
  content: " / ";
  font-weight: normal;
}
.vevent .time:after {
  content: " / ";
  font-weight: normal;
}
.vevent .date {
  color: #e5e5e5;
}
.vevent .description {
  margin-left: 0.7619rem;
}
.vevent .description:before {
  content: "• ";
}
.vevent + .vevent {
  margin-top: 8px;
  margin-top: 0.38095rem;
}

.vevent .description, .verbs [id$="-shows"] ul ul {
  font-family: "SusyCaps", Baskerville, Palatino, Cambria, Georgia, serif;
  font-size: 18px;
  font-size: 0.85714rem;
  line-height: 32px;
  line-height: 1.52381rem;
}
.vevent .description a, .verbs [id$="-shows"] ul ul a, .vevent .description em, .verbs [id$="-shows"] ul ul em {
  font-family: "Susy", Baskerville, Palatino, Cambria, Georgia, serif;
  text-transform: uppercase;
}

.booking-link:link, .booking-link:visited {
  font-family: "SusyCaps", Baskerville, Palatino, Cambria, Georgia, serif;
  margin-top: -48px;
  margin-top: -2.28571rem;
  -moz-border-radius-bottomleft: 0.125rem;
  -webkit-border-bottom-left-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem;
  -moz-border-radius-bottomright: 0.125rem;
  -webkit-border-bottom-right-radius: 0.125rem;
  border-bottom-right-radius: 0.125rem;
  float: right;
  display: inline-block;
  padding: 0 1.52381rem;
  border: 2px solid #b2b2b2;
  background: #666666;
  color: #b2b2b2;
}
.booking-link:focus, .booking-link:hover, .booking-link:active {
  background-color: #ec1313;
  color: #e5e5e5;
}

.verbs [id$="-shows"] ul ul {
  margin-bottom: 0px;
  margin-bottom: 0rem;
}

figure.bio-sketch {
  position: relative;
  height: 0;
  padding-top: 75%;
  width: 100%;
  margin-bottom: 0px;
  margin-bottom: 0rem;
}
figure.bio-sketch > * {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin: 0;
  padding: 0;
}
@media (min-width: 25em) {
  figure.bio-sketch {
    margin-bottom: -32px;
    margin-bottom: -1.52381rem;
  }
}
