html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Susy";
  src: url('../fonts/susy/greenmudsusy-regular-webfont.woff?1349774720') format("woff"), url('../fonts/susy/greenmudsusy-regular-webfont.ttf?1349774720') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Susy";
  src: url('../fonts/susy/greenmudsusy-bold-webfont.woff?1349774720') format("woff"), url('../fonts/susy/greenmudsusy-bold-webfont.ttf?1349774720') format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SusyCaps";
  src: url('../fonts/susy/greenmudsusy-smallcaps-webfont.woff?1349774720') format("woff"), url('../fonts/susy/greenmudsusy-smallcaps-webfont.ttf?1349774720') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SusyCaps";
  src: url('../fonts/susy/greenmudsusy-smallcapsbold-webfont.woff?1349774824') format("woff"), url('../fonts/susy/greenmudsusy-smallcapsbold-webfont.ttf?1349774824') format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Narrator";
  src: url('../fonts/narrator/greenmudnarrator-regular-webfont.woff?1352202722') format("woff"), url('../fonts/narrator/greenmudnarrator-regular-webfont.ttf?1352202722') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Narrator";
  src: url('../fonts/narrator/greenmudnarrator-bold-webfont.woff?1352202722') format("woff"), url('../fonts/narrator/greenmudnarrator-bold-webfont.ttf?1352202722') format("truetype");
  font-weight: bold;
  font-style: normal;
}

html {
  font-size: 131.25%;
  line-height: 1.52381em;
}

html {
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 0;
  background: url('../images/noise.png?1347221205') #2d2d2d;
  color: #e5e5e5;
}

body {
  font-family: "Susy", Baskerville, Palatino, Cambria, Georgia, serif;
  letter-spacing: .05em;
}

img {
  vertical-align: bottom;
  width: 100%;
}

a:hover, a:active {
  outline: none;
}
a:link, a:visited {
  color: #ef4242;
  text-decoration: none;
}
a:focus, a:hover, a:active {
  color: #fbcfcf;
}

[role="main"] h1 {
  font-family: "Narrator", Baskerville, Palatino, Cambria, Georgia, serif;
  font-size: 32px;
  font-size: 1.52381rem;
  line-height: 48px;
  line-height: 2.28571rem;
}
@media (min-width: 29rem) {
  [role="main"] h1 {
    font-size: 44px;
    font-size: 2.09524rem;
    line-height: 48px;
    line-height: 2.28571rem;
  }
}
[role="main"] h1 a:link, [role="main"] h1 a:visited {
  color: #e5e5e5;
}
[role="main"] h1 a:focus, [role="main"] h1 a:hover, [role="main"] h1 a:active {
  color: #ef4242;
}
[role="main"] h2 {
  font-family: "Narrator", Baskerville, Palatino, Cambria, Georgia, serif;
  font-size: 30px;
  font-size: 1.42857rem;
  line-height: 48px;
  line-height: 2.28571rem;
}
@media (min-width: 29rem) {
  [role="main"] h2 {
    font-size: 32px;
    font-size: 1.52381rem;
    line-height: 48px;
    line-height: 2.28571rem;
  }
}
[role="main"] h3 {
  font-family: "Narrator", Baskerville, Palatino, Cambria, Georgia, serif;
  margin-bottom: 32px;
  margin-bottom: 1.52381rem;
  text-transform: uppercase;
  letter-spacing: .1em;
}
[role="main"] h4, [role="main"] strong {
  font-weight: bold;
}
[role="main"] h5, [role="main"] h6, [role="main"] em, [role="main"] blockquote {
  font-style: italic;
}
[role="main"] p, [role="main"] ul, [role="main"] ol, [role="main"] pre, [role="main"] blockquote {
  margin-bottom: 32px;
  margin-bottom: 1.52381rem;
}
[role="main"] p:empty {
  display: none;
}
[role="main"] ul {
  list-style-type: disc;
}
[role="main"] ol {
  list-style-type: decimal;
}
[role="main"] blockquote {
  padding: 0 24px;
  padding: 0 1.14438rem;
  border-left: 8px solid #b2b2b2;
  border-left: 0.38095rem solid #b2b2b2;
}
[role="main"] blockquote em {
  font-style: normal;
}
[role="main"] ul ul, [role="main"] ul ol, [role="main"] ol ul, [role="main"] ol ol, [role="main"] blockquote ul, [role="main"] blockquote ol {
  margin-left: 32px;
  margin-left: 1.52381rem;
}
[role="main"] figure {
  margin-bottom: 32px;
  margin-bottom: 1.52381rem;
}
[role="main"] figure > a, [role="main"] figure > img, [role="main"] figure > .video {
  -webkit-box-shadow: #e5e5e5 0 0 6px;
  -moz-box-shadow: #e5e5e5 0 0 6px;
  box-shadow: #e5e5e5 0 0 6px;
}
[role="main"] figure .video {
  position: relative;
  height: 0;
  padding-top: 56.25%;
  width: 100%;
}
[role="main"] figure .video > * {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin: 0;
  padding: 0;
}
[role="main"] figcaption {
  font-size: 18px;
  font-size: 0.85714rem;
  line-height: 24px;
  line-height: 1.14286rem;
  margin-top: 16px;
  margin-top: 0.7619rem;
  padding: 16px;
  padding: 0.7619rem;
  background: rgba(51, 203, 255, 0.125);
  counter-increment: fig;
}
[role="main"] figcaption:before {
  font-family: "Narrator", Baskerville, Palatino, Cambria, Georgia, serif;
  content: "fig." counter(fig);
  margin-right: .4em;
  font-style: italic;
}
[role="main"] tt, [role="main"] code, [role="main"] pre {
  font-size: 14px;
  font-size: 0.66667rem;
  line-height: 24px;
  line-height: 1.14286rem;
  font-family: "Susy", Baskerville, Palatino, Cambria, Georgia, serif;
}
[role="main"] tt, [role="main"] code {
  padding: 0 8px;
  padding: 0 0.38095rem;
  background: rgba(255, 255, 255, 0.75);
}
[role="main"] pre {
  margin-left: -16px;
  margin-left: -0.7619rem;
  padding: 16px;
  padding: 0.7619rem;
  border-left: 3px solid #fbcfcf;
}

@font-face {
  font-family: "teacup";
  src: url('../fonts/icons/teacup.woff?1361779902') format("woff"), url('../fonts/icons/teacup.ttf?1361779902') format("truetype");
  font-weight: normal;
  font-style: normal;
}

.social [href*="mailto"]:before, .social [href*="facebook"]:before, .social [href*="twitter"]:before, .social [href*="soundcloud"]:before, .social [href*="myspace"]:before, .social [href*="feed"]:before, [data-icon]:before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font-family: "teacup";
  font-style: normal;
  speak: none;
}

.social [href*="mailto"], .social [href*="facebook"], .social [href*="twitter"], .social [href*="soundcloud"], .social [href*="myspace"], .social [href*="feed"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  min-width: 1em;
  text-indent: -9999px;
}
.social [href*="mailto"]:before, .social [href*="facebook"]:before, .social [href*="twitter"]:before, .social [href*="soundcloud"]:before, .social [href*="myspace"]:before, .social [href*="feed"]:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-indent: 0;
  text-align: center;
}

[data-icon]:before {
  content: attr(data-icon);
}

.social [href*="facebook"]:before {
  content: "\e001";
}

.social [href*="twitter"]:before {
  content: "\e002";
}

.social [href*="mailto"]:before {
  content: "\e000";
}

.social [href*="feed"]:before {
  content: "\e003";
}

.social [href*="soundcloud"]:before {
  content: "\e004";
}

.social [href*="myspace"]:before {
  content: "\e005";
}

body {
  max-width: 29rem;
  margin-left: auto;
  margin-right: auto;
}
body:after {
  content: "";
  display: table;
  clear: both;
}

.post:after {
  content: "+ + +";
  font-family: "Narrator", Baskerville, Palatino, Cambria, Georgia, serif;
  display: block;
  color: #ef4242;
  text-align: center;
}

[role="banner"] {
  font-size: 44px;
  font-size: 2.09524rem;
  line-height: 48px;
  line-height: 2.28571rem;
  padding-top: 8px;
  padding-top: 0.38095rem;
  white-space: nowrap;
  text-transform: lowercase;
  text-align: center;
}
[role="banner"] a:link, [role="banner"] a:visited {
  color: #b2b2b2;
}
[role="banner"] a:focus, [role="banner"] a:hover, [role="banner"] a:active {
  color: #e5e5e5;
}

[role="navigation"] {
  font-family: "Susy", Baskerville, Palatino, Cambria, Georgia, serif;
  margin-bottom: 8px;
  margin-bottom: 0.38095rem;
  text-align: center;
}
[role="navigation"] ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}
[role="navigation"] ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
}
[role="navigation"] a:link, [role="navigation"] a:visited {
  display: block;
  padding: 0 0.38095rem;
  color: rgba(178, 178, 178, 0.75);
}
[role="navigation"] a:link:before, [role="navigation"] a:visited:before {
  content: "+";
  display: inline-block;
  width: .5em;
}
[role="navigation"] a:focus, [role="navigation"] a:hover, [role="navigation"] a:active {
  color: #e5e5e5;
}
[role="navigation"] a:focus:before, [role="navigation"] a:hover:before, [role="navigation"] a:active:before {
  content: "/";
}
.who [role="navigation"] a[href*="who"] {
  color: #e5e5e5;
}
.who [role="navigation"] a[href*="who"]:before {
  content: "/";
}
.what [role="navigation"] a[href*="what"] {
  color: #e5e5e5;
}
.what [role="navigation"] a[href*="what"]:before {
  content: "/";
}

[role="main"] {
  border-top-width: 6px;
  border-top-width: 0.28571rem;
  border-top-style: solid;
  padding-top: 10px;
  padding-top: 0.47619rem;
  border-bottom-width: 6px;
  border-bottom-width: 0.28571rem;
  border-bottom-style: solid;
  padding-bottom: 10px;
  padding-bottom: 0.47619rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  clear: both;
  counter-reset: fig;
  border-top: 6px double #e5e5e5;
  border-bottom: 6px double #e5e5e5;
}

@media (min-width: 29rem) {
  [role="banner"], [role="navigation"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  [role="banner"] {
    padding-top: 16px;
    padding-top: 0.7619rem;
    text-align: left;
  }

  [role="navigation"] {
    padding-top: 24px;
    padding-top: 1.14286rem;
    margin-bottom: 16px;
    margin-bottom: 0.7619rem;
    text-align: right;
  }

  [role="main"] {
    border-top-width: 2px;
    border-top-width: 0.09524rem;
    border-top-style: solid;
    padding-top: 30px;
    padding-top: 1.42857rem;
    border-bottom-width: 2px;
    border-bottom-width: 0.09524rem;
    border-bottom-style: solid;
    padding-bottom: 30px;
    padding-bottom: 1.42857rem;
    margin-bottom: 16px;
    margin-bottom: 0.7619rem;
    border-top: 6px double #e5e5e5;
    border-bottom: 6px double #e5e5e5;
  }
}
.pagination {
  text-align: center;
}
.pagination .prev:before {
  content: "« ";
}
.pagination .current {
  font-size: 63px;
  font-size: 3rem;
  line-height: 80px;
  line-height: 3.80952rem;
  vertical-align: middle;
}
.pagination .next:after {
  content: " »";
}
.pagination .disabled {
  color: gray;
}

[role="contentinfo"] {
  font-family: "Susy", Baskerville, Palatino, Cambria, Georgia, serif;
  font-size: 15px;
  font-size: 0.71429rem;
  line-height: 32px;
  line-height: 1.52381rem;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
  opacity: .5;
  padding-bottom: 1.52381rem;
  clear: both;
  text-transform: uppercase;
  text-align: center;
}
[role="contentinfo"]:hover {
  opacity: 1;
}

.social {
  margin-bottom: 32px;
  margin-bottom: 1.52381rem;
}
.social ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  overflow: visible;
}
.social ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
}
.social a:before {
  right: 0;
}
.social a:link, .social a:visited {
  font-size: 21px;
  font-size: 1rem;
  line-height: 32px;
  line-height: 1.52381rem;
  display: inline-block;
  margin: -1px 0.7619rem -1px 0;
  padding: 0 0.38095rem;
  text-align: center;
}

.colophon {
  font-size: 14px;
  font-size: 0.66667rem;
  line-height: 32px;
  line-height: 1.52381rem;
  margin-bottom: 16px;
  margin-bottom: 0.7619rem;
  display: none;
}

.copyright .fn {
  font-weight: bold;
}

.post {
  margin-bottom: 32px;
  margin-bottom: 1.52381rem;
}
.post:last-of-type:after {
  display: none;
}

.byline {
  font-family: "SusyCaps", Baskerville, Palatino, Cambria, Georgia, serif;
  text-transform: lowercase;
  color: gray;
}

.gallery > a, .gallery > img {
  width: 50%;
  float: left;
  margin-right: -100%;
  margin-bottom: 32px;
  margin-bottom: 1.52381rem;
}
.gallery > a:nth-child(2n + 1), .gallery > img:nth-child(2n + 1) {
  margin-left: 0;
  clear: left;
}
.gallery > a:nth-child(2n + 2), .gallery > img:nth-child(2n + 2) {
  margin-left: 50%;
  clear: none;
}
.gallery > a:nth-child(even), .gallery > img:nth-child(even) {
  float: right;
  margin-right: 0;
}
.gallery a:link, .gallery a:visited {
  -webkit-transition: all 150ms;
  -moz-transition: all 150ms;
  -o-transition: all 150ms;
  transition: all 150ms;
}
.gallery a:focus, .gallery a:hover, .gallery a:active {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}
.gallery figcaption {
  clear: both;
}

.readmore {
  font-style: italic;
}
.readmore:after {
  content: "»";
}

.section {
  clear: both;
}

.vevent {
  padding-left: 0.7619rem;
  border-left: 0.38095rem solid rgba(229, 229, 229, 0.5);
}
.vevent li {
  list-style: none;
}
.vevent .summary {
  font-weight: bold;
}
.vevent .more {
  font-style: italic;
}
@media (min-width: 29rem) {
  .vevent {
    margin-left: -1.14286rem;
  }
}

.blog-archive, .tag-archive {
  margin-top: 32px;
  margin-top: 1.52381rem;
}

.blog-archive li {
  list-style-type: none;
}
.blog-archive li ul {
  margin-left: 0;
}
.blog-archive li li {
  list-style-type: disc;
}

.tag-list {
  list-style-type: none;
}
.tag-list, .tag-list li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.tag-list li:after {
  content: ", ";
}
.tag-list li:last-child:after {
  content: "";
}
.tag-list {
  margin-top: 32px;
  margin-top: 1.52381rem;
  display: block;
}
