
<article class="vevent">
  <h1 class="summary">
    <time class="dtstart" datetime="2013-09-19T20:00">
      <a href="https://www.facebook.com/events/1377575079131475/" class="date url">Sept. 19</a>
      <span class="time">8pm Doors</span>
    </time>
    <span class="location vcard">
      <a href="http://www.hermanshideaway.com/event/367897-teacup-gorilla-denver/" class="fn org url">
        Herman's Hideaway
      </a>
    </span>
  </h1>
  <ul class="description">
    <li class="with">
      with <a href="http://www.ourstage.com/epk/nikolzack">Nikol&Zack</a>,
      <a href="http://www.blamegravity.com/">Blame Gravity</a>,
      and <a href="http://lindseysaundersmusic.com/">Lindsey Saunders Band</a>
    </li>
    <li class="tickets">
      <em>$4</em> advance / <em>$8</em> at the door.
      Tickets coming soon...
    </li>
  </ul>
</article>
