
<article class="vevent">
  <h1 class="summary">
    <time class="dtstart" datetime="2013-09-19T20:00">
      <a href="https://www.facebook.com/events/507034116050100/" class="date url">Sept. 19</a>
      <span class="time">7pm doors, 8pm show</span>
    </time>
    <span class="location vcard">
      <a href="http://www.hermanshideaway.com/event/367897-teacup-gorilla-denver/" class="fn org url">
        Herman's Hideaway
      </a>
    </span>
  </h1>
  <ul class="description">
    <li class="with">
      with
      <a href="http://www.ourstage.com/epk/nikolzack">Nikol&Zack</a>,
      <a href="http://www.blamegravity.com/">Blame Gravity</a>,
      and
      <a href="http://lindseysaundersmusic.com/">Lindsey Saunders Band</a>
    </li>
    <li class="tickets">
      <a href="/static/pictures/shows/Hermans-9-19-tix.jpg">$4 with coupon</a>
      or <em>password</em> (mini monkeys),
      <em>$8</em> at the door
    </li>
  </ul>
</article>

<article class="vevent">
  <h1 class="summary">
    <time class="dtstart" datetime="2013-09-30T19:00">
      <a href="http://www.larimerlounge.com/event_details.cfm?blogid=1278" class="date url">Sept. 30</a>
      <span class="time">7pm doors, 8pm show</span>
    </time>
    <span class="location vcard">
      <a href="http://www.larimerlounge.com/event_details.cfm?blogid=1278" class="fn org url">
        Larimer Lounge
      </a>
    </span>
  </h1>
  <ul class="description">
    <li class="with">
      opening for
      <a href="https://www.facebook.com/EvanHolmDenver">Evan Holm Band</a>
      with
      <a href="https://www.facebook.com/JaquesCrow">Jaques Crow</a>
      and
      <a href="https://www.facebook.com/pages/Mark-Risius-Music/209451469137272">Mark Risius</a>
    </li>
    <li class="tickets">
      <a href="/static/pictures/shows/Larimer-9-30-tix.jpg">$5 with coupon</a>,
      <em>$10</em> at the door
    </li>
  </ul>
</article>

<article class="vevent">
  <h1 class="summary">
    <time class="dtstart" datetime="2013-10-24T19:00">
      <span class="date">Oct. 24</span>
    </time>
    <span class="location vcard">
      <a href="http://toadtavern.com" class="fn org url">
        Toad Tavern
      </a>
    </span>
  </h1>
</article>
