{% extends "base.html" %}

{% block template %}
<h1 role="banner"><a href="/" rel="home">Teacup Gorilla</a></h1>

<nav role="navigation">
  <ul>
    <li><a href="/verbs/">verbs</a></li>
    <li><a href="/adjectives/">adjectives</a></li>
  </ul>
</nav>

<section role="main">

  {% block body %}

  {% endblock body %}

</section>

<footer role="contentinfo">
  <div class="social">
    <ul>
      <li><a rel="me" href="http://feeds.feedburner.com/teacupgorilla" title="feed">feed</a></li>
      <li class="email" title="email">info(put the 'at' sign here)teacupgorilla.com</li>
      <li><a rel="me" href="http://twitter.com/teacupgorilla/" title="twitter">twitter</a></li>
      <li><a rel="me" href="http://facebook.com/teacupgorilla/" title="facebook">facebook</a></li>
      <li><a rel="me" href="http://soundcloud.com/teacupgorilla/" title="soundcloud">soundcloud</a></li>
      <li><a rel="me" href="http://new.myspace.com/teacupgorilla/" title="new myspace">new myspace</a></li>
    </ul>
  </div>

  <p class="copyright vcard">copyright &copy; 2010-2013
    <a href="http://teacupgorilla.com/" class="fn url org">Teacup Gorilla</a>
  </p>
</footer>
{% endblock template %}
