{% extends "base.html" %}

{% block template %}
<h1 role="banner"><a href="/" rel="home">Teacup Gorilla</a></h1>

<nav role="navigation">
  <ul>
    {# <li><a href="/why/">manifesto</a></li> #}
    <li><a href="/what/">projects</a></li>
    <li><a href="/who/">bio</a></li>
  </ul>
</nav>

<section role="main">

  {% block body %}

  {% endblock body %}

</section>

<footer role="contentinfo">
  <div class="social">
    <ul>
      <li><a rel="me" href="http://feeds.feedburner.com/teacupgorilla" title="feed">feed</a></li>
      <li class="email" title="email">info(put the 'at' sign here)teacupgorilla.com</li>
      <li><a rel="me" href="http://twitter.com/teacupgorilla/" title="twitter">twitter</a></li>
      <li><a rel="me" href="http://facebook.com/teacupgorilla/" title="facebook">facebook</a></li>
      <li><a rel="me" href="http://soundcloud.com/teacupgorilla/" title="soundcloud">soundcloud</a></li>
      <li><a rel="me" href="http://new.myspace.com/teacupgorilla/" title="new myspace">new myspace</a></li>
    </ul>
  </div>

  <p class="colophon">
    This site is built on plain old semantic <a href="http://www.w3.org/TR/html5/">HTML5</a>,
    powered by
    the <a href="https://github.com/mitsuhiko/rstblog/">rstblog</a> static site generator
    for <a href="http://www.python.org">Python</a>,
    and styled using <a href="http://www.w3.org/TR/css-2010/">CSS3</a>,
    with help from
    <a href="http://subtlepatterns.com/">Subtle Patterns</a>,
    <a href="http://www.jquery.com/">jQuery</a>,
    <a href="http://www.modernizr.com/">Modernizr</a>,
    <a href="http://keyamoon.com/icomoon/">IcoMoon</a>,
    <a href="http://susy.oddbird.net/">Susy</a>,
    <a href="http://compass-style.org/">Compass</a>,
    and <a href="http://sass-lang.com/">Sass</a>.
  </p>

  <p class="copyright vcard">copyright &copy; 2010-2013
    <a href="http://teacupgorilla.com/" class="fn url org">Teacup Gorilla</a>
  </p>
</footer>
{% endblock template %}
