{% extends "layout.html" %}

{% block title -%}
  {% if rst.title != 'Home' %}{{ rst.title }} ::{% endif %}
  {{ super() }}
{%- endblock %}

{% block styles %}
  {{ super() }}
  {% if config.styles %}
    <link rel="stylesheet" href="/static/css/{{ config.styles }}">
  {% endif %}
{% endblock styles %}

{% block bodyclasses %}{{ super() }}{% if config.bodyclasses %} {{ config.bodyclasses }}{% endif %}{% endblock %}

{% block body %}
  {% for module in config.before %}
    {% include module.include %}
  {% endfor %}

  {%- if not config.hide_title %}
  {{ rst.html_title }}
  {%- endif %}

  {% include "_byline.html" %}

  {{ rst.fragment }}

  {% for module in config.after %}
    {% include module.include %}
  {% endfor %}
{% endblock %}
