// Events
// ======

.vevent {
  .dtstart { @include serif; }
  .date {
    color: color(lightest);
    font-weight: bold;
  }
  .time {
    @include before(' :: ');
    @include after(' :: ');
  }
  .description {
    @extend %event-description;
    margin-left: rhythm(.5);
    li { @include before('• '); }

    display: none;
    .verbs & { display: block; }
  }
}

%event-description {
  @include sanscaps;
  @include adjust-font-size-to($smallpx);

  a, em {
    @include sans;
    text-transform: uppercase;
  }
}

// Past Shows
// ----------

.booking-link {
  #{$link} {
    @include sanscaps;
    @include leader(-1.5);
    @include border-bottom-radius(.125rem);
    float: right;
    display: inline-block;
    padding: 0 rhythm(1);
    border: 2px solid color(lighter);
    background: color(dark);
    color: color(lighter);
  }
  #{$focus} {
    background-color: $red;
    color: color(lightest);
  }
}

.verbs [id$="-shows"] {
  ul ul {
    @extend %event-description;
    @include trailer(0);
  }
}
