// ----------------------------------------------------------------------------
// Events

$event-border-width: rhythm(.25);
$event-border-padding: rhythm(.5);

.vevent {
  padding-left: $event-border-padding;
  border-left: $event-border-width solid color($base,.5);

  li { list-style: none; }

  .summary { font-weight: bold; }
  .more { font-style: italic; }

  @include at-breakpoint($total-columns) {
    margin-left: - $event-border-padding - $event-border-width;
  }
}
