// Events
// ======

.verbs [id$="-shows"] {
  ul ul {
    @include sanscaps;
    @include adjust-font-size-to($smallpx);
    @include trailer(.25);
    text-transform: lowercase;

    a, em { text-transform: uppercase; }
  }

  strong {
    @include serif;
    color: color(lighter);
  }
}
