// ----------------------------------------------------------------------------
// Styleguides

%spacer {
  @include after("+ + +") {
    @include sans;
    display: block;
    color: color($pink lighter);
    color: color($pink dark,.25);
    text-align: center;
  }
}

// ----------------------------------------------------------------------------
// Banner

[role="banner"] {
  @include sans;
  @include adjust-font-size-to($medpx,2);
  white-space: nowrap;
  font-weight: bold;
  text-transform: uppercase;
  a {
    #{$link} { color: color($pink darker); }
    #{$focus} { color: color($blue darker); }
  }
}

// ----------------------------------------------------------------------------
// Navigation

@mixin active-nav($slug) {
  .#{$slug} &[href*="#{$slug}"] {
    @include before("/");
    color: color($pink darkest);
  }
}

[role="navigation"] {
  @include sanscond;
  @include adjust-font-size-to($smallpx);
  @include leader(-.75);
  @include trailer(.5);
  text-align: center;

  ul { @include inline-block-list; }

  a {
    #{$link} {
      display: block;
      padding: 0 rhythm(.25);
      color: color($pink darker,.75);
      @include before("+") {
        display: inline-block;
        width: .5em;
      }
    }
    #{$focus} {
      @include before("/");
      color: color($pink darker);
    }
    @include active-nav(who);
    @include active-nav(what);
    @include active-nav(why);
  }
}

// ----------------------------------------------------------------------------
// Main

$main-border: 2px dotted color($pink darker);

[role="main"] {
  @extend %type;
  @include h-borders(2px,.5);
  clear: both;
  counter-reset: fig;
  border-top: $main-border;
  border-bottom: $main-border;
}

@include at-breakpoint($total-columns) {
  $half: floor($total-columns/2);
  [role="banner"], [role="navigation"] {
    @include span-columns($half);
    @include leader(.5);
  }
  [role="banner"] { text-align: left; }
  [role="navigation"] {
    @include omega;
    @include adjust-leading-to(1.75);
    @include trailer(.5);
    text-align: right;
  }
  [role="main"] {
    @include h-borders(2px,1);
    @include trailer;
    border-top: $main-border;
    border-bottom: $main-border;
  }
}

// ----------------------------------------------------------------------------
// Pagination

.pagination {
  text-align: center;
  .prev { &:before { content: "« ";} }
  .current {
    @include adjust-font-size-to($xxxlargepx);
    vertical-align: middle;
  }
  .next { &:after { content: " »";} }
  .disabled { color: $mid; }
}

// ----------------------------------------------------------------------------
// Contentinfo

[role="contentinfo"] {
  @include sanscond;
  @include adjust-font-size-to($xsmallpx);
  padding-bottom: rhythm(1);
  clear: both;
  color: $mid;
  text-transform: uppercase;
}

.social {
  @include trailer(.5);

  ul { @include inline-block-list; }
}

.colophon { @include trailer(.5); }

.copyright {
  .fn { font-weight: bold; }
}
