// ----------------------------------------------------------------------------
// Styleguides

%spacer {
  @include after("+ + +") {
    @include serif;
    display: block;
    color: $alt;
    text-align: center;
  }
}

// ----------------------------------------------------------------------------
// Banner

[role="banner"] {
  @include adjust-font-size-to($xxlargepx);
  @include padding-leader(.25);
  white-space: nowrap;
  text-transform: lowercase;
  text-align: center;
  a {
    #{$link} { color: color(lighter); }
    #{$focus} { color: color(lightest); }
  }
}

// ----------------------------------------------------------------------------
// Navigation

@mixin active-nav($slug) {
  .#{$slug} &[href*="#{$slug}"] {
    @include before("/");
    color: color(lightest);
  }
}

[role="navigation"] {
  @include sans;
  @include trailer(.25);
  text-align: center;

  ul { @include inline-block-list; }

  a {
    #{$link} {
      display: block;
      padding: 0 rhythm(.25);
      color: color(lighter,.75);
      @include before("+") {
        display: inline-block;
        width: .5em;
      }
    }
    #{$focus} {
      @include before("/");
      color: color(lightest);
    }
    @include active-nav(who);
    @include active-nav(what);
  }
}

// ----------------------------------------------------------------------------
// Main

$main-border: 6px double $base;

[role="main"] {
  @extend %type;
  @include h-borders(6px,.5);
  @include gutters;
  clear: both;
  counter-reset: fig;
  border-top: $main-border;
  border-bottom: $main-border;
}

@include breakpoint(container()) {
  $half: floor($columns/2);
  [role="banner"], [role="navigation"] {
    @include span($half);
  }
  [role="banner"] {
    @include padding-leader(.5);
    text-align: left;
  }
  [role="navigation"] {
    @include padding-leader(.75);
    @include trailer(.5);
    text-align: right;
  }
  [role="main"] {
    @include h-borders(2px,1);
    @include trailer(.5);
    border-top: $main-border;
    border-bottom: $main-border;
  }
}

// ----------------------------------------------------------------------------
// Pagination

.pagination {
  text-align: center;
  .prev { &:before { content: "« ";} }
  .current {
    @include adjust-font-size-to($xxxlargepx);
    vertical-align: middle;
  }
  .next { &:after { content: " »";} }
  .disabled { color: $mid; }
}

// ----------------------------------------------------------------------------
// Contentinfo

[role="contentinfo"] {
  @include sans;
  @include adjust-font-size-to($xsmallpx);
  @include transition(opacity 300ms);
  opacity: .5;
  padding-bottom: rhythm(1);
  clear: both;
  text-transform: uppercase;
  text-align: center;

  &:hover { opacity: 1; }
}

@mixin social($slug) {
  $slug: compact($slug);
  $icon: false;
  @if length($slug) > 1 {
    $icon: nth($slug,2);
    $slug: nth($slug,1);
  } @else {
    $slug: nth($slug,1);
    $icon: $slug;
  }

  [href*="#{$slug}"] {
    @extend %icon-replace;
    @extend %icon-#{$icon};
  }
}

.social {
  @include trailer;

  ul {
    @include inline-block-list;
    overflow: visible;
  }

  a {
    &:before { right: 0; }
    #{$link} {
      @include adjust-font-size-to($normpx);
      display: inline-block;
      margin: -1px rhythm(.5) -1px 0;
      padding: 0 rhythm(.25);
      text-align: center;
    }
  }

  @include social(mailto envelope);
  @include social(facebook);
  @include social(twitter);
  @include social(soundcloud);
  @include social(myspace);
  @include social(feed);
}

.colophon {
  @include adjust-font-size-to($xxsmallpx);
  @include trailer(.5);
  display: none;
}

.copyright {
  .fn { font-weight: bold; }
}
