// Logo
// ====

.logo {
  @include display-text;
  @include font-size(large);
  @include padding-leader;
  padding: rhythm(1) rhythm(1) 0;

  text-transform: lowercase;
  text-align: center;

  a {
    &:link, &:visited {
      color: $heading-color;
    }
    &:hover, &:focus, &:active {
      color: $alt;
    }
  }
}
