// Navigation
// ==========

$nav: blog, nouns, verbs, adjectives;

[role='navigation'] {
  @include font-size(small);
  min-height: rhythm(2);

  a {
    &:link, &:visited {
      @include transition(all 200ms);
      @include alt-text;
      display: inline-block;
      padding: 0 rhythm(.5);
      vertical-align: top;
      color: color(lightest $text-color);
      background: color($link-color, .5);
      text-decoration: none;
    }
    &:hover, &:focus, &:active {
      @include padding-leader;
      background: $link-focus-color;
    }
  }
}

@each $slug in $nav {
  .#{$slug} [data-nav="#{$slug}"] {
    &:link, &:visited {
      @include padding-leader(1.5);
      background: $link-focus-color;
    }
  }
}
