// Show
// ====

.show {
  @include transition(border 1s);
  padding-left: rhythm(.5);
  border-left: rhythm(.125) solid $text-color;

  &:hover { border-color: $accent; }

  .dtstart {
    @extend %heading;
    @include after(' :: ') { color: $text-color; }
    color: inherit;
    font-weight: bold;
  }

  .summary { display: inline; }

  .title, .location {
    @extend %h3;
    font-weight: bold;
    color: inherit;
  }

  .with {
    @include font-size(small);
    @include before('• ');
    padding-left: rhythm(1);
    a, em { @include alt-text; }
  }
}

