<!-- Begin MailChimp Signup Form -->
<div class="email-signup section" id="mc_embed_signup">
  <form action="//teacupgorilla.us1.list-manage.com/subscribe/post?u=c4ede61aa238c4cacbcacc51c&amp;id=d831d43185" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <h3 class="email-title">email newsletter</h3>

    <div class="mc-field-group">
      <label for="mce-EMAIL">Email Address </label>
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="email@example.com">
    </div>

    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_c4ede61aa238c4cacbcacc51c_d831d43185" tabindex="-1" value=""></div>

    <div class="form-actions">
      <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">Subscribe</button>
    </div>
  </form>
</div>
